* {
  margin: 0;
  padding: 0;

  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.hero_main {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.74)),
    url("./images/Banner\ Image.png");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 1320px;
  border-radius: 10px;
}
.her_child {
  text-align: center;
}
.her_child h3 {
  font-size: 32px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: white;
}

.her_child h1 {
  font-size: 72px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: white;
}

.off_main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.off_child h1 {
  color: #ff0000;
  font-size: 88px;
  font-family: "Inter", sans-serif;
}

.off_child h3 {
  color: #000000;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.off_child h2 {
  color: #000000;
  font-size: 48px;
  font-family: "Inter", sans-serif;
  margin-bottom: 50px;
}

.off_child img {
  height: 500px;
  width: 802.9px;
}

#party {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.party_main {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.8)),
    url("./images/Vectorrr.png");

  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 1320px;
  border-radius: 10px;
  text-align: left;
}
.party_child {
  padding-left: 50px;
}

.party_child h3 {
  font-size: 64px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: white;
  margin-top: 10px;
}

.party_child p {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: white;
  padding-right: 400px;
  margin-top: 10px;
}

.party_child h4 {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: white;
  margin-top: 10px;
}

#park {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.park_main {
  background: linear-gradient(
    to top,
    rgb(255, 255, 255),
    rgba(238, 236, 236, 0.8)
  );

  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 1320px;
  border-radius: 10px;
  text-align: left;
}

.park_child h3 {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.park_child span {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: rgb(255, 0, 0);
}

.park_child button {
  text-align: center;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: white;
  background-color: red;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
}
.btn {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

#holiday {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.holiday_main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  text-align: left;
  text-align: center;
}

.holiday_child h3 {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

.holiday_child h1 {
  font-size: 72px;
  font-family: "Merriweather", serif;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.holiday_child span {
  font-size: 72x;
  font-family: "Merriweather", serif;
  font-weight: 600;
  color: rgb(255, 7, 7);
}

.holiday_child p {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

#portfolio {
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
  width: 1000px;
}
.portfolio_des {
  text-align: left;
  width: 1000px;
  padding-left: 250px;
}

.portfolio_des h3 {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: rgb(255, 0, 0);
  margin-bottom: 5px;
}

.portfolio_des h1 {
  font-size: 48px;
  font-family: "Merriweather", serif;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}

.portfolio_des p {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}

.gallery1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  text-align: left;
  text-align: center;
  padding-left: 370px;
}

.gallery2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  text-align: left;
  text-align: center;
  padding-left: 370px;
}
.gallery2 img {
  padding: 5px;
}
.gallery1 img {
  padding: 5px;
}

#newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.newsletter_main {
  background-color: #ece6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 1320px;
  border-radius: 10px;
  text-align: center;
}
.newsletter_child img {
  height: 150px;
  width: 150px;
}

.newsletter_child h1 {
  font-size: 48px;
  font-family: "Merriweather", serif;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}

.newsletter_child p {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
  padding-left: 200px;
  padding-right: 200px;
}

#footer {
  padding: 50px;
  background-color: #070211;
}

.footer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400ppx;
  border-radius: 10px;
  text-align: left;
  color: white;
  padding-left: 370px;
}

.footer_child {
  width: 50%;
}
.footer2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  color: #7359a8;
  margin-top: 20px;
  margin-bottom: 20px;
}
